@import '../../constants/constants.scss';

.brand {
    background-color: $color-background-site;
    @extend %flex-rows;
    gap: 50px;
    padding: 100px 20px 100px 100px;
}

.brand__left {
    @extend %flex-columns;
    width: 50%;
}

.brand__title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    max-width: 460px;
}

.brand__subtitle {
    max-width: 440px;
    font-size: 16px;
    margin-top: 35px;
}

.brand__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.brand__card {}

.card__image {
    max-width: 60px;
    margin-bottom: 20px;
}

.card__text {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
}