@import '../../constants/constants.scss';

.info__slides-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .info__array {
    // position: relative;
    width: 100%;
    height: 100%;
    // z-index: 1;
    // display: flex;
    // transition-property: transform;
    // box-sizing: content-box;
  }
  
  .info__photo {
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  .info__slider {
    @extend %flex-rows;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    right: 0px;
  }
  
  .info__buttons {
    z-index: 2;
    margin-left: 30px;
  }
  
  .info__button {
    // @include yellow-button($color-text-white);
    background-image: url('../../images/big_aroow_yellow.svg');
    // background-size: 100%;
    // background-position: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .info__button:hover {
    background-image: url('../../images/big_arrow_grey.svg');
    transition: background-image 0.4s linear;
  }

  .info__button_right {
    transform: rotate(180deg);
  }
  
  .info__quantity-photo {
    color: $color-text-white;
    margin: 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.4;
    margin-right: 30px;
    z-index: 2;
  }
  