@import '../../constants/constants.scss';

.experience {
  padding: 150px 20px 165px 100px;
  background-color: $color-background-site;
}

.experience__about {
  color: $color-button-hover;
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
  margin-bottom: 60px;
  border-top: 1px solid $color-grey-line;
}

.experience__container {
  @extend %flex-rows;
  align-items: center;
  justify-content: space-between;
}

.experience__title {
  font-size: 70px;
  line-height: 90%;
  font-weight: 500;
  color: $yellow-color;
  margin: 0;
  min-width: 600px;
}

.experience__right {
}

.experience__text {
  margin: 0 0 15px;
  @extend %text-size-28;
  color: $color-button-hover;
}
